html{	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	box-sizing: border-box;
	max-width: 100%;
	background: url("/PD-SaM/attachment/bg/bg.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	word-wrap: break-word;
	text-overflow: ellipsis;
}


body{
	background-color: transparent !important;
	width: calc(100vw - 34px);	
	font-size: 14px;	
}

header{
	position: relative;
	width: auto;
	margin: 20px auto;
	padding-top:0px;
	background: rgba(205,214,209,255);
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	font-size: 	14px;
}


.logo{
	color: rgba(117, 20, 117, 0.8);
	height: auto;
	width: 250px;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 20px;
	text-align: left;
	box-sizing: border-box;
	float: left;
	font-weight: bold;
	text-decoration: none;
	
}

.outerbox{
	box-shadow:2px 2px 5px rgba(0,0,0,0.2); 
	margin-top: 0px;
	margin-left: 8%;
	margin-right: 8%;
	background-color: rgb(255,255,255);
	padding-top: 1px;
	padding-bottom: 10px;
}

.innerbox{	
	margin-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 50px;
}

nav
{
	float: right;
}

.clearfix
{
	clear: both;
}

nav ul
{
	margin: 0;
	padding: 0;
	display: flex;

}

nav ul li
{
	list-style: none;
	margin: 10px 0;
	
}

nav ul li a
{
	padding: 10px 20px;display: block;
	text-decoration: none;
	color: #262626;
}


nav ul li a.activebar
{
	
	color: #1A5573;
	transition: 0.7s;
	
}

nav ul li a:hover
{
	color: #1A5573;
	transition: 0.7s;
	
}

@media (max-width: 1200px)
{
	header
	{
		margin: 20px;
	}
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	*{
		max-width: 100%;
	}
	.outerbox{
		box-shadow:2px 2px 5px rgba(0,0,0,0.2); 
		margin-top: 0px;
		margin-left: 2%;
		margin-right: 2%;
		background-color: #fff;
		padding-top: 1px;
	}
	.innerbox{
		margin-top: 0px;
		padding-left: 4%;
		padding-right: 4%;
		padding-bottom: 4%;
	}
	table{
		max-width: 100%;

	}

}

.clickbutton a
{
	line-height: 1.231;
	margin-bottom: 5px;
	background: #222;
	border: none;
	font-size: 14px;
	padding: 6px 10px 5px 10px;
	max-width: 220px;
	text-align: center;
	color: #fff;	
	text-decoration: none;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	cursor: pointer;	
	font-family: helvetica, arial, sans-serif;
	background-color:  rgba(117, 20, 117, 0.6);
	margin-top: 5px;
}

.clickbutton a:hover{
	color: #1A5573;
	background-color: rgba(117, 20, 117, 0.3);
}


.submit
{
	line-height: 1.231;
	margin-bottom: 5px;
	background: #222;
	border: none;
	font-size: 14px;
	padding: 6px 10px 5px 10px;
	width: 120px;
	text-align: center;
	color: #fff;	
	text-decoration: none;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	cursor: pointer;	
	font-family: helvetica, arial, sans-serif;
	background-color:  rgba(117, 20, 117, 0.6);
	margin-top: 5px;
}

.submit:hover{
	color: #1A5573;
	background-color: rgba(117, 20, 117, 0.3);
}

.error
{
	color: red;
}

.hide
{
	float: right;
	margin-top: -7px;
	margin-right: 0px;
	font-size: 10px;
	color: rgba(117, 20, 117, 1);;
	text-decoration-line: underline;
	cursor: pointer;
}

.hide:hover
{
	color: red;
	text-decoration-line: none;
}

#stickyholder, .stickyholder
{

	-webkit-box-shadow: 0 0 1px #fff;
	box-shadow: 0 0 1px #fff;
	color: #fff;
	padding: 5px 12px;
	position: fixed;
	left: 93%;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	top: 85%;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	z-index: 10000;

}

.sticky 
{

	text-align: right;
	font-size: 50px;
	color: rgba(117, 20, 117, 0.4);


}

.sticky:hover 
{
	color: rgba(117, 20, 117, 0.9);
}

.profile-picnohover
{
	border-radius: 50%;
	height: 34px;
	width: 34px;
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
	color: transparent;
	transition: all .3s ease;
	margin-left: 30%;
	cursor: pointer;

}

.warning
{
	font-size: 9px;
	color: red;
	display: inherit;

}

.asterisk_input::after {
	content:" *"; 
	color: #e32;
	position: absolute; 
	margin: 0px 0px 0px -20px; 
	font-size: x-large; 
	padding: 0 5px 0 0; 
}


.informationHolder
{
	margin-top: 20px;
	background-color: rgba(205,214,209,255);
	height: 23px;
	padding-top: 5px;
	width: 80%;
	border-radius: 5px;
	text-align: center;

}

.information
{
	padding-top: 10px;
	padding-bottom: 10px;
	width: 80%;
	border-radius: 10px;
	text-align: center;
	margin-bottom: 5px;
}

table
{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	font-family: Roboto-Regular,'Helvetica Neue',Helvetica,Tahoma,Arial,'Sans-serif';

}

td
{
	text-overflow: ellipsis;
	padding: 6px;
	
}

th{
	padding: 7px;
	text-overflow: ellipsis;
}

tr{

}

tr:nth-child(even)
{
	background-color: rgba(234, 231, 220, 0.4);
}

tr:nth-child(odd)
{
	background-color:rgba(234, 231, 220, 1);
}

tr:hover
{
	background-color: rgba(117, 20, 117, 0.2);

}

select{
	width: 100%;
	resize: none;
	padding-top: 4px;
	padding-bottom: 4px;
}

input{
	width: 80%;
	padding-top: 4px;
	padding-bottom: 4px;
}

textarea{
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	resize: none;
	padding-top: 4px;
	padding-bottom: 4px;
	align-items: center;
}

#naviconheader{
	font-size: 16px;
}

#accept:hover, .accept:hover
{
	color: green;
}

#oppose:hover, .oppose:hover
{
	color: red;
}

#view:hover{

	color: blue;
}

#accept, .accept
{
	color: rgba(117, 20, 117, 0.8);
}

#oppose, .oppose
{
	color: rgba(117, 20, 117, 0.8);
}

#view{
	color: #1A5573;
}


a{
	color: rgba(117, 20, 117, 0.8);
	cursor: pointer;
}

.remarksnote{
	color: gray; 
	text-align: center;
	font-style: italic;
	margin-right: auto;
	margin-left: auto;
}


#minustrash
{
	color: rgba(117, 20, 117, 0.7);
}

#minustrash:hover, #btn-cancel-student:hover
{
	color: red;
}

#tambahpanduan:hover
{
	color: green;
}

#canceltambahpanduan:hover
{
	color: red;
}

i#btn-add-lecturer:hover,i#btn-add-student:hover, i#add-supervision-assignment:hover
{
	color: green;
}

i#btn-cancel-lecturer:hover,i#btn-cancel-student:hover, i#cancel-supervision-assignment:hover
{
	color: red;
}

.btn-click-print{
	width: 100%;
	display: inline-flex;
    color: inherit;
    text-decoration: none;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

#print-btn{
	margin-left: 94%;
}

