*{
	/*outline: 1px solid red;*/
}

.uploadrule
{
	font-size: 9px;
	color: red;
	display: inline-block;
}

.loginholder
{
	margin-right: 20px;
	font-size: 14px;
	line-height: 3.231;
	font-family: "Helvetica Neue", sans-serif;
	color: #000;
	float: right;
	
}

.loginholder a
{
	line-height: 1.231;
	margin-bottom: 1px;
	background: #222;
	border: none;
	font-size: 14px;
	padding: 4px 16px 4px 16px;
	width: 120px;
	text-align: center;
	color: #fff;	
	text-decoration: none;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	position: relative;
	cursor: pointer;	
	font-family: helvetica, arial, sans-serif;
	background-color: rgba(117, 20, 117, 0.6);
	display: block;
	margin-top: 20px;

}

.loginholder a:hover
{
	color: #1A5573;
	background-color: rgba(117, 20, 117, 0.3);
}

input, textarea, select
{
	margin-left: 10px;
}

td, input, textarea, select
{
	margin-bottom: 1px;

}

select{
    width: 300px;
    text-overflow: ellipsis;
}

input{
	width: 70%;
}

td{
	padding-left: 15px;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
}



.loginbox form{
	padding: 20px;
}

.loginImage
{
	display: inline;
	
}

img
{
	width: 110px;
	height: 110px;
	border-radius: 50%;
	background-color: rgba(234, 231, 220, 1);

}

.error
{
	font-size: 15px;
	color: red;
	margin-left: 10px;
	margin-top: auto;
	margin-bottom: auto;
	position: relative;

}

.loginbox
{
	margin-top: 40px;
	padding: 10px 20px 10px 20px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
}



.loginImage
{
	display: inline;
	
}

.loginImage img{
	width: 150px;
	height: 150px;
}

