.popup-informationHolder
{
	margin-top: 18px;
	background-color: rgba(205,214,209,255);
	height: 23px;
	padding-top: 5px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
  	text-align: center; 	

}

.popup-information
{
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 70%;
	border-radius: 10px;
  	text-align: left;
  	margin-left: auto;
	margin-right: auto;

}

.popup-grid-container {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-gap: 10px;
    margin-top: 0;
}

.popup-profile-picnohoverbig
{
	border-radius: 50%;
	height: 150px;
	width: 150px;
	background-size: cover;
	background-position: center;
	color: transparent;
	margin-left: auto;
	margin-right: auto;
}

.pic-list{
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-size: cover;
	background-position: center;
	color: transparent;
	margin-left: 2px;
	margin-right: 5px;
	background-color: green;
}

#main {
	display: inline-flex;
	width: 100%;
	height: auto;
	margin-top: 2px;
	padding: 5px 10px 5px 10px;
	flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#list-box {
	display: inline-flex;
	align-items: center;
	width: 35%;
	height: 90px;
	border: 1px solid grey;
	border-radius: 25px;
	height: auto;
	margin-right: 7px;
	margin-top: 10px;
	padding: 1px 7px 1px 7px;
 
}

p#list-data{
	width: 70%;
	align-content: center;
}

.popup-information td{
	padding-left: 4%;
}